<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>org.igniterealtime.openfire.plugin.xep398.XEP398Plugin</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <author>Dir ZS IKT C44</author>
    <version>${project.version}</version>
    <date>2025-07-03</date>
    <minServerVersion>5.0.0</minServerVersion>
    <version>${project.version}</version>
    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="server-avatar-conversion" name="${sidebar.avatar-conversion}" url="avatar-conversion.jsp" description="${sidebar.avatar-conversion.descr}"/>
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
